---
# Front matter
---

@import
	"bootstrap-sass/assets/stylesheets/bootstrap",
	url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:300,400,500,700');

$color-primary:			#89BDD3;
$color-lighten:			#9AD3DE;
$color-gray-light:	#E3E3E3;
$color-gray:				#c9c9c9;
$color-red:					#BB0219;
$color-orange:			#E38D00;

$text-color:				#4a4a4a;
$text-color-dark:		#191919;

$min-width:					769px;

@mixin font-oswald($weight) {
	font-family: 'Oswald',sans-serif;
	font-weight: $weight;
}
@mixin font-roboto($weight) {
	font-family: 'Roboto',sans-serif;
	font-weight: $weight;
}
@mixin transition {
	transition: .5s ease;
}

html {
	font-size: 16px;
}
body {
	background-color: #555555;
	color: $text-color;
	font-size: 1rem;
	@include font-roboto(300);
	min-width: $min-width;
	padding-top: 60px;
	.wrapper {
		@include transition;
	}
	&.sidenav-open {
		.wrapper {
			filter: blur(8px);
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	@include font-oswald(400);
	text-transform: uppercase;
}

.btn {
	@include font-oswald(300);
	font-size: 1.05rem;
	&.btn-default {
		background-color: transparent;
		border-color: rgba($text-color-dark, .8);
		color: $text-color-dark;
		&:focus {
			background-color: #fff;
			color: $color-lighten;
		}
	}
	&.btn-default-reverse {
		background-color: transparent;
		border-color: rgba(white, .8);
		color: white;
		&:focus {
			background-color: #fff;
			color: $color-lighten;
		}
	}
	&.btn-link-reverse {
		color: white;
		border: none;
		&.active, &:hover {
			background-color: rgba(#fff,.2);
			box-shadow: none;
			border: none;
		}
	}
	&.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
	}
}

.pointer {
	cursor: pointer;
}

.label {
	@include font-roboto(300);
	padding: .25em .5em .2em;
	&.label-info {
		background-color: $color-lighten;
		color: $text-color;
	}
	&.label-default {
		background-color: rgba($color-gray,.6);
		// border: 1px solid rgba($text-color, .4);
		color: $text-color;
	}
	&.label-warning {
		background-color: $color-orange;
		color: #fff;
	}
}

.container {
	@media (max-width: 1299px) and (min-width: 1040px) {
		width: 1040px;
	}
	@media (max-width: 1559px) and (min-width: 1300px) {
		width: 1300px;
	}
	@media (max-width: 1819px) and (min-width: 1560px) {
		width: 1560px;
	}
	@media (min-width: 1820px) {
		width: 1820px;
	}
}

.home {
	.overflow-hidden {
		overflow: scroll;
		.cards {
			// overflow: scroll;
			width: 1820px;
		}
	}
}
.create {
	position: fixed;
	bottom: 70px;
	right: 40px;
	> a {
		display: block;
		width: 50px;
		height: 50px;
		text-align: center;
		font-size: 3rem;
		color: $color-primary;
	}
}
.back2top {
	position: fixed;
	bottom: 0;
	right: 40px;
	display: none;
	> a {
		display: block;
		width: 50px;
		height: 50px;
		background-color: rgba(black,.3);
		color: $color-gray;
		font-size: 1.4rem;
		text-align: center;
		line-height: 50px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
}

.navbar {
	&.navbar-default {
		background-color: $color-primary;
		color: white;
		border-bottom: none;
		.navbar-brand {
			color: $text-color-dark;
		}
		.nav {
			> li {
				&.active {
					> a {
						background-color: transparent;
						border-top-color: $text-color-dark;
					}
				}
				> a {
					border-top: 3px solid transparent;
					color: $text-color-dark;
				}
			}
		}
		.navbar-form {
			input[type=search] {
				background-color: rgba(0,0,0,.1);
				box-shadow: none;
				color: white;
			}
		}
	}
	.navbar-header {
		.navbar-brand {
			@include font-oswald(300);
			font-size: .95rem;
			line-height: 1.2;
			padding: 11px 15px;
			text-transform: uppercase;
			float: none;
			display: inline-block;
		}
		#helix-logo {
			width: 30px;
			height: 30px;
			border-radius: 5px;
			background-color: rgba(white,.3);
			display: inline-block;
		}
	}
	.navbar-form {
		margin: 0;
		padding: 10px 15px;
		width: calc(100% - 360px);
		.form-group {
			display: block;
			position: relative;
			&:before {
				content: '\f4a4';
				font-family: "Ionicons";
				position: absolute;
				left: 20px;
				top: 0;
				line-height: 40px;
				color: rgba(white,.5);
			}
			input[type=search] {
				width: 100%;
				border: none;
				height: 40px;
				border-radius: 20px;
				padding: 10px 30px;
			}
		}
	}
	.nav {
		&.navbar-right {
			margin-right: -5px;
		}
		> li {
			> a {
				padding-left: 10px;
				padding-right: 10px;
				@include font-roboto(300);
				i {
					font-size: 1.8rem;
					&.notify {
						position: relative;
						&:after {
							content: '';
							position: absolute;
							right: -3px;
							top: 3px;
							width: 12px;
							height: 12px;
							border-radius: 50%;
							background-color: $color-red;
						}
					}
				}
			}
		}
	}
	min-height: 60px;
	min-width: $min-width;
}

aside {
	&.sidenav {
		position: fixed;
		top: 0;
		right: 0;
		width: 300px;
		bottom: 0;
		background-color: $color-gray-light;
		z-index: 9999;
		box-shadow: -8px 0 0 rgba(black, .1);
		transform: translateX(calc(100% + 65px));
		@include transition;
		&.open {
			transform: translateX(0);
		}
		.button-close {
			width: 60px;
			height: 60px;
			display: block;
			background-color: #888;
			position: absolute;
			left: -60px;
			text-align: center;
			line-height: 60px;
			color: #eee;
			font-size: 2rem;
			box-shadow: -4px 0 0 rgba(0,0,0,.1);
			cursor: pointer;
			@include transition;
			&:hover {
				background-color: $color-red;
			}
		}
	}
}

header {
	background-color: $color-lighten;
	margin-bottom: 10px;
	position: relative;
	color: $text-color-dark;
	.title {
		border-bottom: 1px solid rgba(#191919, .1);
		padding: 8px 0;
		.chart-trigger {
			color: $text-color-dark;
			padding: 10px 0 0;
			display: inline-block;
		}
		.page-title {
			// font-size: 1.8rem;
			margin: 0;
			// color: white;
			line-height: 38px;
			@include font-oswald(300);
			text-transform: uppercase;
		}
		.breadcrumb {
			display: inline;
			background-color: transparent;
			padding: 0;
			margin-left: 20px;
			li {
				&.active {
					color: $text-color-dark;
					a {
						color: $text-color-dark;
					}
				}
				a {
					color: white;
				}
			}
		}
	}
	&:after {
		// content: '';
		position: absolute;
		top: 100%;
		width: 100%;
		height: 200px;
		background-color: $color-lighten;
		z-index: -999;
	}
	.chart {
		height: 450px;
		position: relative;
		overflow: hidden;
		#chart {
			position: absolute;
			top: 0;
			left: -30px;
			right: -30px;
			bottom: 0;
			> * {
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.chart-data {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			.container {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				* {
					margin-top: 0;
					margin-bottom: 0;
					line-height: 1.2;
				}
				.mins {
					font-size: 8rem;
					font-weight: 300;
				}
				.result {
					font-weight: 400;
				}
			}
		}
		.chart-range {
			position: absolute;
			bottom: 30px;
			width: 100%;
			.nav {
				list-style: none;
				> li {
					display: inline-block;
				}
			}
		}
	}
}

.cards {
	// margin-top: -80px;
	padding: 0 0 30px;
	.col-cards {
		width: 236px;
		margin: 0 10px 10px;
		display: inline-block;
    vertical-align:top;
		text-align: left;
		.title {
			color: rgba(white,.8);
		}
	}
}
.card {
	position: relative;
	display: block;
	color: $text-color;
	&:hover {
		color: $text-color;
		text-decoration: none;
	}
	&.left {
		&:before {
			content: '\f405';
			font-family: 'Ionicons';
			text-align: center;
			font-size: 4rem;
			line-height: 105px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: $color-red;
			background-color: rgba($color-gray-light, .9);
		}
	}
	&.completed {
		&:before {
			content: '\f3fe';
			font-family: 'Ionicons';
			text-align: center;
			font-size: 4rem;
			line-height: 105px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: $color-primary;
			background-color: rgba($color-gray-light, .9);
		}
	}
	&.panel {
		margin-bottom: 5px;
		box-shadow: none;
		background-color: $color-gray-light;
		position: relative;
		z-index: auto;
		&:after {
			@include transition;
			content: '';
			position: absolute;
			top: -5px;
			left: -5px;
			right: -5px;
			bottom: -5px;
			border-radius: 5px;
			background-color: transparent;
			border: 5px solid transparent;
		}
		&:hover, &.active {
			z-index: 100;
			&:after {
				z-index: 1;
				border-color: rgba(black,.2);
			}
		}
		&.active {
			background-color: #ddd;
			&:before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				right: -8px;
				border-style: solid;
				border-width: 7.5px 0 7.5px 8px;
				border-color: transparent transparent transparent #dddddd;
				z-index: 3;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.panel-heading {
			padding-bottom: 0;
			.age-sex {
				color: rgba($text-color,.8);
				line-height: 1.2;
				text-align: center;
			}
			p {
				margin: 0;
			}
			.name {
				font-size: 1.2rem;
				line-height: 1;
				@include font-roboto(400);
				.lastname {
					@include font-roboto(700);
					display: block;
				}
				.age {
					font-size: 1rem;
				}
			}
		}
		.panel-body {
			padding-top: 0;
			padding-bottom: 5px;
			> *:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
.patient-card {
	display: inline-block;
  width: calc(100% - 260px);
	background-color: $color-gray-light;
	border-radius: 5px;
	min-height: 500px;
}
