---
# Front matter
---

@import
	"bootstrap-sass/assets/stylesheets/bootstrap",
	url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:300,400,500,700');

$color-primary:			#89BDD3;
$color-lighten:			#9AD3DE;
$color-gray-light:	#E3E3E3;
$color-gray:				#c9c9c9;
$color-red:					#BB0219;
$color-orange:			#E38D00;
$color-green:				#417505;

$text-color:				#4a4a4a;
$text-color-dark:		#191919;

$min-width:					769px;

@mixin font-oswald($weight) {
	font-family: 'Oswald',sans-serif;
	font-weight: $weight;
}
@mixin font-roboto($weight) {
	font-family: 'Roboto',sans-serif;
	font-weight: $weight;
}
@mixin transition {
	transition: .5s ease;
}

html {
	font-size: 16px;
}
body {
	background-color: #555555;
	color: $text-color;
	font-size: 1rem;
	@include font-roboto(300);
	min-width: $min-width;
	padding-top: 60px;
	.wrapper {
		@include transition;
	}
	&.sidenav-open {
		.wrapper {
			filter: blur(8px);
		}
	}
}

a {
	color: darken($color-primary,20%);
}

h1, h2, h3, h4, h5, h6 {
	@include font-oswald(400);
	text-transform: uppercase;
}

.pointer {
	cursor: pointer;
}

.container {
	min-width: 970px;
	@media (max-width: 1299px) and (min-width: 1040px) {
		width: 1040px;
	}
	@media (max-width: 1559px) and (min-width: 1300px) {
		width: 1300px;
	}
	@media (max-width: 1819px) and (min-width: 1560px) {
		width: 1560px;
	}
	@media (min-width: 1820px) {
		width: 1820px;
	}
}

.home {
	.overflow-hidden {
		overflow: scroll;
		.cards {
			// overflow: scroll;
			width: 1820px;
		}
	}
}
.create {
	position: fixed;
	bottom: 70px;
	right: 40px;
	> a {
		display: block;
		width: 50px;
		height: 50px;
		text-align: center;
		font-size: 3rem;
		color: $color-primary;
	}
}
.back2top {
	position: fixed;
	bottom: 0;
	right: 40px;
	display: none;
	> a {
		display: block;
		width: 50px;
		height: 50px;
		background-color: rgba(black,.3);
		color: $color-gray;
		font-size: 1.4rem;
		text-align: center;
		line-height: 50px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
}

aside {
	&.sidenav {
		position: fixed;
		top: 0;
		right: 0;
		width: 300px;
		bottom: 0;
		background-color: $color-gray-light;
		z-index: 9999;
		box-shadow: -8px 0 0 rgba(black, .1);
		transform: translateX(calc(100% + 65px));
		@include transition;
		&.open {
			transform: translateX(0);
		}
		.button-close {
			width: 60px;
			height: 60px;
			display: block;
			background-color: #888;
			position: absolute;
			left: -60px;
			text-align: center;
			line-height: 60px;
			color: #eee;
			font-size: 2rem;
			box-shadow: -4px 0 0 rgba(0,0,0,.1);
			cursor: pointer;
			@include transition;
			&:hover {
				background-color: $color-red;
			}
		}
	}
}

header {
	background-color: $color-lighten;
	margin-bottom: 20px;
	position: relative;
	color: $text-color-dark;
	.title {
		border-bottom: 1px solid rgba(#191919, .1);
		padding: 8px 0;
		.chart-trigger {
			color: $text-color-dark;
			padding: 10px 0 0;
			display: inline-block;
		}
		.page-title {
			// font-size: 1.8rem;
			margin: 0;
			// color: white;
			line-height: 38px;
			@include font-oswald(300);
			text-transform: uppercase;
		}
		.breadcrumb {
			display: inline;
			background-color: transparent;
			padding: 0;
			li {
				&.active {
					color: $text-color-dark;
					a {
						color: $text-color-dark;
					}
				}
				a {
					color: rgba(black,.3);
					&:hover {
						color: $text-color-dark;
						text-decoration: none;
					}
				}
			}
		}
	}
	&:after {
		//content: '';
		position: absolute;
		top: 100%;
		width: 100%;
		height: 100px;
		background-color: $color-lighten;
		z-index: -999;
	}
	.filters {
		padding: 8px 0;
		> div > .icon {
			margin-right: 20px;
		}
	}
}

.cards {
	// margin-top: -80px;
	padding: 0 0 100px;
	.col-cards {
		width: 236px;
		margin: 0 10px 10px;
		display: inline-block;
    vertical-align:top;
		text-align: left;
		.title {
			color: rgba(white,.8);
		}
	}
}
.card {
	position: relative;
	display: block;
	color: $text-color;
	&:hover {
		color: $text-color;
		text-decoration: none;
	}
	&.left, &.completed {
		* {
			opacity: .5;
		}
		&:before {
			font-family: 'Ionicons';
			text-align: center;
			font-size: 4rem;
			line-height: 105px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	&.completed {
		&:before {
			content: '\f3fe';
			color: $color-primary;
		}
	}
	&.left {
		&:before {
			content: '\f405';
			color: $color-red;
		}
	}
	&.panel {
		margin-bottom: 5px;
		box-shadow: none;
		background-color: $color-gray-light;
		position: relative;
		z-index: auto;
		&:after {
			@include transition;
			content: '';
			position: absolute;
			top: -5px;
			left: -5px;
			right: -5px;
			bottom: -5px;
			border-radius: 5px;
			background-color: transparent;
			border: 5px solid transparent;
		}
		&:hover {
			z-index: 100;
			&:after {
				z-index: 1;
				border-color: rgba(black,.2);
			}
		}
		&.active {
			background-color: #ddd;
			&:before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				right: -9px;
				border-style: solid;
				border-width: 7.5px 0 7.5px 8px;
				border-color: transparent transparent transparent lighten(black,60%);
				z-index: 3;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.panel-heading {
			padding-bottom: 0;
			.age-sex {
				color: rgba($text-color,.8);
				line-height: 1.2;
				text-align: center;
			}
			p {
				margin: 0;
			}
			.name {
				font-size: 1.2rem;
				line-height: 1;
				@include font-roboto(400);
				.lastname {
					@include font-roboto(700);
					display: block;
				}
				.age {
					font-size: 1rem;
				}
			}
		}
		.panel-body {
			padding-top: 0;
			padding-bottom: 5px;
			> *:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
.patient-card {
	display: inline-block;
  width: calc(100% - 270px);
	background-color: $color-gray-light;
	border-radius: 3px;
	min-height: 500px;
	margin-right: 10px;
	.notification {
		background-color: rgba(black,.05);
		padding: 13px 0 10px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	@media (min-width: 1299px) {
		width: 1000px;
	}
}

.clock {
	position: fixed;
	left: 20px;
	bottom: 20px;
	@include font-oswald(300);
	background-color: rgba(black,.8);
	text-transform: uppercase;
	padding: 12px 20px 15px;
	border-radius: 3px;
	color: $color-gray;
	text-align: center;
	line-height: 1.2;
	.date {
		font-size: 1rem;
	}
	.time {
		font-size: 2rem;
	}
}

@import
	"nav",
	"buttons",
	"chart",
	"label",
	"notify";
